# Classificando as variáveis

In [2]:
import pandas as pd

In [3]:
df_firstn = pd.read_csv("../data/raw/Iowa_Liquor_Sales.csv", nrows=1)
df_firstn

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.5,1.19

## Quantitativas

### Contínuas
- Bottle Volume(ml)
- Volume Sold(Liters)
- Volume Sold(Gallons)
- State Bottle Cost
- State Bottle Retail
- Sale

### Discretas
- Pack
- Bottles Sold

## Qualitativas

### Nominais
- Store Name
- Address
- City
- Store Location
- County Number
- County
- Item Description

### Ordinais
- Date
- Store Number
- Zip Code
- Item Number